---
layout: default
---
			<script>
var selected = false;

function apply_to_lines(lineRefElement, callback) {
	var lineNumStart = parseInt(lineRefElement.dataset.line);
	var lineNumEnd = lineNumStart;
	if (lineRefElement.dataset.lineEnd) {
		var lineNumEnd = parseInt(lineRefElement.dataset.lineEnd);
	}
	for (var i = lineNumStart; i <= lineNumEnd; i++) {
		var lineElement = document.getElementById('line'+i);
		callback(lineElement);
	}
}

function clear_all() {
	var i = 1;
	var lineElement;
	while (lineElement = document.getElementById('line'+i)) {
		lineElement.style.backgroundColor = "transparent";
		i++;
	}
}

document.addEventListener('DOMContentLoaded', function() {
	document.onclick = function(event) {
		clear_all();
	}

	var lineRefElements = document.getElementsByClassName('lineref');
	for (var i = 0; i < lineRefElements.length; i++) {
		lineRefElements[i].onclick = function(event) {
			clear_all();
			apply_to_lines(event.target, function(lineElement) {
				lineElement.style.backgroundColor = "rgb(76, 69, 41)";
			});
			event.stopPropagation();
		}
		lineRefElements[i].onmouseover = function(event) {
			apply_to_lines(event.target, function(lineElement) {
				if (lineElement.style.backgroundColor != "rgb(76, 69, 41)") {
					lineElement.style.backgroundColor = "rgb(69, 69, 69)";
				}
			});
			event.stopPropagation();
		}
		lineRefElements[i].onmouseout = function(event) {
			apply_to_lines(event.target, function(lineElement) {
				if (lineElement.style.backgroundColor != "rgb(76, 69, 41)") {
					lineElement.style.backgroundColor = "transparent";
				}
			});
			event.stopPropagation();
		}
	}
}, false);
			</script>
			<section class="sample">
				<div class="row">
					<h1 class="column-4">{{ page.sample.title }}</h1>
				</div>
				<div class="row">
					<div class="column-2">
						{% codeblock cpp %}{{ page.sample.code }}{% endcodeblock %}
					</div>
					<div class="column-2">
						<h2>Intent</h2>
						{{ page.sample | sample_intent }}
						<h2>Description</h2>
						{{ page.sample | sample_description }}
						<h2>Contributors</h2>
						<ul class="contributors">
	{% for contributor in page.sample.contributors %}
							<li><a title="{{ contributor.name }}" {% if contributor.url %}href="{{ contributor.url }}"{% endif %}><img src="{{ contributor.image }}" alt="{{ contributor.name }}"></a></li>
	{% endfor %}
						</ul>
						<h2>Source</h2>
						<p><a href="#">Fork this sample on GitHub</a></p>
						<h2>Last Updated</h2>
						<p>{{ page.sample.modified_date | date_to_long_string }}</p>
	{% if site.environment == 'production' %}
						<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6789411983750873" data-ad-slot="5581833133" data-ad-format="rectangle"></ins>
	{% endif %}
					</div>
				</div>
			</section>
