---
layout: default
---

			<section class="sample featured">
				<div class="row">
					<h1 class="column-4">Featured sample: <a href="#">{{ page.random_sample.title }}</a></h1>
				</div>
				<div class="row">
					<div class="column-2">
						<a href="{{ site.baseurl }}{{ page.random_sample.path}}.html">
							{% codeblock cpp %}{{ page.random_sample.code }}{% endcodeblock %}
						</a>
					</div>
					<div class="column-2">
						<h2>Intent</h2>
						{{ page.random_sample | sample_intent }}
						<h2>Description</h2>
						{{ page.random_sample | sample_description | truncatewords: 35 }}
						<p><a href="{{ site.baseurl }}{{ page.random_sample.path}}.html">Continue reading →</a></p>
					</div>
				</div>
			</section>
			<section>
{% for category in page.sample_categories %}
{% assign outerloop = forloop %}
				<div class="row">
					<h1 class="column-4">{{ category[0].title }}</h1>
				</div>
				<div class="row">
{% for section in category[1] %}
					<section class="column-1">
						<h1>{{ section[0].title }}</h1>
						<ul class="samples">
{% for sample in section[1] %}
							<li>
								<h1><a href="{{ site.baseurl }}{{ sample.path }}.html">{{ sample.title }}</a></h1>
								{{ sample | sample_intent }}
							</li>
{% endfor %}
						</ul>
					</section>
				{% assign groupname = outerloop.index %}
				{% cycle groupname: '', '', '', '</div><div class="row">' %}
{% endfor %}
				</div>
{% endfor %}
			</section>
