---
layout: default
description: A repository of modern and idiomatic C++ code samples curated by the community.
---

			<section class="sample featured">
				<div class="row">
					<h1 class="column-4">Featured sample: <a href="{{ site.baseurl }}/{{ page.random_sample.path}}.html">{{ page.random_sample.title }}</a></h1>
				</div>
				<div class="row">
					<div class="column-2">
						<a href="{{ site.baseurl }}/{{ page.random_sample.path}}.html">
							{% codeblock cpp %}{{ page.random_sample.code }}{% endcodeblock %}
						</a>
					</div>
					<div class="column-2">
						<h2>Intent</h2>
						{{ page.random_sample | sample_intent }}
						<h2>Description</h2>
{% if page.random_sample.tags.size > 0 %}
						<ul class="tags">
{% for tag in page.random_sample.tags %}
							<li class="{{ tag }}">{{ tag }}</li>
{% endfor %}
						</ul>
{% endif %}
						{{ page.random_sample | sample_description | truncatewords: 35 }}
						<p><a href="{{ site.baseurl }}/{{ page.random_sample.path}}.html">Continue reading →</a></p>
					</div>
				</div>
			</section>
{% if site.environment == 'production' %}
			<div class="row">
				<div class="column-4">
					<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6789411983750873" data-ad-slot="4105099934" data-ad-format="auto"></ins>
				</div>
			</div>
{% endif %}
			<section class="samples-index">
{% for category in page.sample_categories %}
				<div class="row">
					<h1 class="column-4">{{ category[0].title }}</h1>
				</div>
	{% for section in category[1] %}
		{% assign groupname = forloop.index %}
				<section class="samples-section">
					<div class="row">
						<h1 class="column-4">{{ section[0].title }}</h1>
					</div>
					<div class="row">
		{% for sample in section[1] %}
						<div class="index-item column-1">
							<h1><a href="{{ site.baseurl }}/{{ sample.path }}.html">{{ sample.title }}</a></h1>
			{% if sample.tags.size > 0 %}
							<ul class="tags">
				{% for tag in sample.tags %}
								<li class="{{ tag }}">{{ tag }}</li>
				{% endfor %}
							</ul>
			{% endif %}
							{{ sample | sample_intent }}
						</div>
					{% cycle groupname: '', '', '', '</div><div class="row">' %}
		{% endfor %}
					</div>
				</section>
	{% endfor %}
{% endfor %}
			</section>
