<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>C++ Samples</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,700,400|Roboto+Slab" rel="stylesheet" type="text/css">
		<link href="{{ site.baseurl }}css/screen.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="column-3">
						<h1><a href="{{ site.baseurl }}"><span>C++</span>​Samples</a></h1>
						<p>A repository of modern C++ code samples curated by the community.</p>
					</div>
				</div>
			</div>
		</header>
		<main class="container">
{{ content }}
		</main>
	</body>
</html>
